{% extends 'base.html'%}
{% block content %}
<script>
    function get_result(){

    }
</script>
<br>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>번호</th>
                <th>학번</th>
                <th>출석일자</th>
                <th>결과</th>
            </tr>
        </thead>
        <tbody>
            {% for attend in posts %}
            <tr>
                <td>{{attend.id}}</td>
                <td>{{attend.username}}</td>
                <td>{{attend.time}}</td>
                <td>{{attend.result}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <hr>
    <div class="container">
        <br><br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <a class="page-link" href="?page=1">처음</a>
                {%if post.has_previous%}
                <a class="page-link" href="?page={{post.previous_page_number}}">이전</a>
                {% else %}
                <a class="page-link" href="#">이전</a>
                {%endif%}
                {% for page in page_range%}
                {%if page == post.number%}
                <li class="page-item active" aria-current="page" {% if page == post.number %}class="active"
                    {% endif %}>
                    <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
                </li>
                {%else%}
                <li class="page-item" {% if page == post.number %}class="active" {% endif %}>
                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                </li>
                {%endif%}

                {% endfor %}
                {%if post.has_next%}
                <a class="page-link" href="?page={{post.next_page_number}}">다음</a>
                {%else%}
                <a class="page-link" href="#">다음</a>
                {%endif%}
                <a class="page-link" href="?page={{post.paginator.num_pages}}">끝</a>
            </ul>
        </nav>

    </div>
</div>
{% endblock %}