{% extends 'base.html'%}
{% block content %}

<style>
    .row {
        border: 3px solid black;

    }

    .col {
        box-sizing: border-box;

        margin: 15px;
    }
</style>

<br>

<div class="container">
    <div class='row'>
        <div class="col" id="check" style="border-right:1px solid black;">
            <form method="POST">
                {% csrf_token %}
                <p>출결 로그 조회</p>
                {{form}}
                <button type='submit' class="btn btn-outline-primary">선택</button>

                <p id='test'> </p>
            </form>
        </div>
        <div class="col" id="time">
            <ul>
                <li>강의 : {{lecture}}</li>
                <li>학생 : {{user.last_name}}{{user.first_name}}</li>
            </ul>
        </div>
    </div>
</div>

<br>

<div class="container" style="padding: 0%; border-left: 1px solid #E6E6E6; border-right: 1px solid #E6E6E6;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>번호</th>
                <th>학번</th>
                <th>출석 일자</th>
                <th>출석 결과</th>
                <!-- <th></th> -->
            </tr>

        </thead>
        <tbody>
            {% for attend in posts %}
            <tr>
                <td>{{attend.id}}</td>
                <td>{{attend.username}}</td>
                <td>{{attend.time}}</td>
                <script>
                    function func() {
                        url = "{%url 'attend_detail' attend.time%}"
                        var popupX = (window.screen.width/2) - (600 / 2);
                        var popupY = (window.screen.height/2) - (250 / 2);
                        window.open(url, '_blank', 'width=600, height=250, left='+ popupX + ', top='+ popupY);
                        
                    }
                    var final_result = "{{attend.final_result}}"
                    if (final_result == "처리중") {
                        document.write("<td>" + final_result + "</td>");
                    }
                    else if (final_result == "출석") {
                        document.write("<td>" + "&#9711;" + "<a href='' onclick='func()' style='float: right;'>" + "상세 출결 결과 확인" + "</a>" + "</td>");

                    }
                    else if (final_result == "지각") {
                        document.write("<td>" + "&#9651;" + "<a href='' onclick='func()' style='float: right;'>" + "상세 출결 결과 확인" + "</a>" + "</td>");
                    }
                    else {
                        document.write("<td>" + "&#10006;" + "<a href='' onclick='func()' style='float: right;'>" + "상세 출결 결과 확인" + "</a>" + "</td>");
                    }
                </script>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <hr>
</div>
<div class="container">
    <br><br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <a class="page-link" href="?page=1">처음</a>
            {%if post.has_previous%}
            <a class="page-link" href="?page={{post.previous_page_number}}">이전</a>
            {% else %}
            <a class="page-link" href="#">이전</a>
            {%endif%}
            {% for page in page_range%}
            {%if page == post.number%}
            <li class="page-item active" aria-current="page" {% if page == post.number %}class="active" {% endif %}>
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
            </li>
            {%else%}
            <li class="page-item" {% if page == post.number %}class="active" {% endif %}>
                <a class="page-link" href="?page={{page}}">{{page}}</a>
            </li>
            {%endif%}

            {% endfor %}
            {%if post.has_next%}
            <a class="page-link" href="?page={{post.next_page_number}}">다음</a>
            {%else%}
            <a class="page-link" href="#">다음</a>
            {%endif%}
            <a class="page-link" href="?page={{post.paginator.num_pages}}">끝</a>
        </ul>
    </nav>

</div>
{% endblock %}