{% load static %}
<div class="modal-header">
    <h5 class="modal-title" id="logModalLabel">입장 기록</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    </button>
</div>
<div class="modal-body">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">시간</th>
                <th scope="col">입장 여부</th>

                <!-- 아래 두개는 확인할려는 코드 -->
                <th scope="col">유저</th>
                <th scope="col">강의</th>
            </tr>
        </thead>
        <tbody>
            {%for userlog in userlog_obj %}
            <tr>
                <td>{{userlog.time}}</td>
                <td>{{userlog.check}}</td>
                <td>{{userlog.username}}</td>
                <td>{{userlog.lecture.name}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
</div>