{% load static%}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'index/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'index/css/simple-sidebar.css'%}" rel="stylesheet">

</head>

<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>구분</th>
                    <script type=text/javascript>
                    a = ("{{ attend.result }}").replace(/&quot;/g, "\"");
                    //document.write(a)
                    var a_parse = JSON.parse(a)
                    //document.write(a_parse)
                    //var num = Object.keys(a_parse).length;
                    for(key in a_parse) {
                        document.write('<th>' + key + "</th>");
                    }  
                    </script>


                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>비콘 인식</td>
                    <script type=text/javascript>
                    attend = ("{{ attend.result }}").replace(/&quot;/g, "\"");
                    
                    //document.write(a)
                    var attend_parse = JSON.parse(attend)
                   
                    //document.write(a_parse)

                    for(key in attend_parse) {
                        document.write('<td>' + attend_parse[key] + '</td>');
                    }  
                    
                </script>

                </tr>
                <tr>
                <td>얼굴인식</td>
                <script type=text/javascript>
                    facial = ("{{facial_attend.result}}").replace(/&quot;/g, "\"");
                    var facial_parse = JSON.parse(facial)
                    for(key in facial_parse) {
                        document.write('<td>' + facial_parse[key] + '</td>');
                    }
                </script>
                </tr>
            </tbody>
        </table>

</body>