{% extends 'base.html'%}
{% block content%}
{% load static %}
<!-- <link href="style" href="{% static 'css/test.css' %}"> */ -->
<br>
<style>
    .row{
        border:3px solid black;
        
    }
    .col{
        box-sizing: border-box;
        
        margin: 15px;
    }
</style>
<div class="container">
    <div class='row' >
        <div class="col" id="check" style="border-right:1px solid black;" >
            <form method="POST" >
                {% csrf_token %}
                <p>출결 로그 조회</p>
                <input type="date" id="choice_date" size="10">
                <button type='submit'  class="btn btn-outline-primary">선택</button>
                
                <p id='test'> </p>
            </form>
        </div>
        <div class="col" id="time">

            <label>출석 체크 반복 시간<input type="time" value='09:00 id=' start'></label>
            <br>
            <label>횟수<input type="number" value="5" min="0" id='term'></label>
            <br>
            <input type="submit" value="저장" class="btn btn-outline-primary">
            </ul>
        </div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>학번</th>
            <th>이름</th>
            <th>출결</th>
        </tr>
    </thead>

    <tbody>
        {%for %}
        <tr> </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}