{% extends 'base.html'%}
{% block content%}
{% load static %}
<!-- <link href="style" href="{% static 'css/test.css' %}"> */ -->

<br>
<style>
    .row {
        border: 3px solid black;

    }

    .col {
        box-sizing: border-box;

        margin: 15px;
    }
</style>
<div class="container">
    <div class='row'>
        <div class="col" id="check" style="border-right:1px solid black;">
            <form method="POST" action="">
                {% csrf_token %}
                <p>출결 로그 조회</p>
                {{form}}
                <button type='submit' class="btn btn-outline-primary">선택</button>

                <p id='test'> </p>
            </form>
        </div>
        <div class="col" id="time">
            <form method="POST">
                {% csrf_token %}
                <label>수업 시간 {{lecture_detail.start_time}} ~ {{lecture_detail.end_time}} <button type="submit"
                        class="btn btn-outline-primary">수정</button></label>
            </form>
            <form>
                <label>출석 체크 반복 시간<input type="time" value='09:00 id=' start'></label>
                <br>
                <label>횟수<input type="number" value="5" min="0" id='term'></label>
                <br>
                <button type="submit" class="btn btn-outline-primary">저장</button>
            </form>
        </div>
    </div>
</div>
<div class="container" style = "padding: 0%; text-align: center;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">학번</th>
                <th scope="col">출결 결과</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            {%for attend in attends%}

            <tr>
                <script type=text/javascript>
                    var increase = 1;
                    document.write("<td>" + increase++ + "</td>")
                    document.write("<td>" + {{attend.username.username}} + "</td>");

                    var result = "{{attend.final_result}}"
                    if(result == "처리중"){
                        document.write("<td>"+result+"</td>");
                    }
                    else if(result == "출석"){
                        document.write("<td>"+"&#9711;"+"</td>");
                    }
                    else if(result == "지각"){
                        document.write("<td>"+"&#9651;"+"</td>");
                    }
                    else{
                        document.write("<td>"+"&#10006;"+"</td>");
                    }
                </script>
                
                <td> <a href="{% url 'show' lecture_detail.id attend.username.username date %}" onclick='window.open(this.href, "test","width=1030, height=600"); return false;'>  상세 출결 결과 확인 </a></td>
            </tr>
            {%endfor%}         
        </tbody>
    </table>
    <hr>
    <div class="container">
        <br><br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <a class="page-link" href="?page=1">처음</a>
                {%if post.has_previous%}
                <a class="page-link" href="?page={{post.previous_page_number}}">이전</a>
                {% else %}
                <a class="page-link" href="#">이전</a>
                {%endif%}
                {% for page in page_range%}
                {%if page == post.number%}
                <li class="page-item active" aria-current="page" {% if page == post.number %}class="active" {% endif %}>
                    <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
                </li>
                {%else%}
                <li class="page-item" {% if page == post.number %}class="active" {% endif %}>
                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                </li>
                {%endif%}

                {% endfor %}
                {%if post.has_next%}
                <a class="page-link" href="?page={{post.next_page_number}}">다음</a>
                {%else%}
                <a class="page-link" href="#">다음</a>
                {%endif%}
                <a class="page-link" href="?page={{post.paginator.num_pages}}">끝</a>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}