{% extends 'base.html' %}
{%block content%}
<style>
    #record_search {
        margin-top: 100px;
    }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<div class="container" id='record_search'>
    <div class="form-row">
        <div class="form-group col-md-4">날짜
            <input class="form-control date cafe24" type="date">
        </div>
        <div class="form-group col-md-4">강의
            <select class="form-control lecture_id cafe24" id="exampleFormControlSelect1">
                {%for lecture in lecture_list%}
                {% if lecture_id %}
                {% if lecture_id == lecture.lectures.id %}
                <option value="{{lecture.lectures.id}}" class="cafe24" selected>{{lecture.lectures}}</option>
                {%endif%}
                {%endif%}
                <option value="{{lecture.lectures.id}}" class="cafe24">{{lecture.lectures}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group col-md-4">학번
            <input class="form-control student_id cafe24" type="text" value="{{student_id}}">
        </div>
        <div class="col-md-4">
            <button type='button' class="btn btn-outline-primary btn_search cafe24">조회</button>
        </div>
    </div>
</div>
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th>날짜</th>
                <th>학번</th>
                <th>수업</th>
                <th>로그</th>
                <th>영상</th>
            </tr>
        </thead>
        <tbody>
            {% if userlog_list %}
            {% for userlog in userlog_list %}
            <tr>
                <td>{{ userlog.time}}</td>
                <td>{{userlog.username}}</td>
                <td>{{ userlog.lecture }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">해당 일자의 로그 및 영상 기록이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if userlog_list.has_previous %}
    <li class="page-item">
        <a class="page-link" href="#" data-page="{{ userlog_list.previous_page_number }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in userlog_list.paginator.page_range %}
    {% if page_number >= userlog_list.number|add:-3 and page_number <= userlog_list.number|add:4 %}
    {% if page_number == userlog_list.number %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="#" data-page="{{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="#" data-page="{{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if userlog_list.has_next %}
    <li class="page-item">
        <a class="page-link" href="#" data-page="{{ userlog_list.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
<!-- 페이징처리 끝 -->
</div>









<form id="searchForm" method="GET" action="{%url 'record'%}">
    <input type="hidden" id="date" name="date" value="{{date|default_if_none:''}}">
    <input type="hidden" id="lecture_id" name="lecture_id" value="{{lecture_id|default_if_none:''}}">
    <input type="hidden" id="student_id" name="student_id" value="{{student_id|default_if_none:''}}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
<script>
    $(document).ready(function () {
        $(".page-link").on('click', function () {
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });
        $(".btn_search").on('click', function () {
            $("#date").val($(".date").val());
            $("#lecture_id").val($(".lecture_id").val());
            $("#student_id").val($(".student_id").val());
            // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
            $("#page").val(1);
            $("#searchForm").submit()
        });
    });
</script>
{%endblock%}